<div class="thumbnail">
    <img src="data:@Model.ImageContentType;base64,@Model.ImageBase64">
    <div class="caption">
        <ul class="nav nav-stacked" role="tablist">
            <li role="presentation"><a href="#">My band</a></li>
            <li role="presentation"><a href="#">Singers</a></li>
            <li role="presentation"><a href="#">Music</a></li>
            <li role="presentation"><a href="#">Videos</a></li>
            <li role="presentation">
                <a href="@Url.Action(MVC.UserProfile.Chat.Index())">Messages <span class="badge">3</span></a>
            </li>
            <li role="presentation"><a href="#">Settings</a></li>
        </ul>
    </div>
</div>
