@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    
    Kiev, Ukraine<br/>
    <strong>Contact email:</strong>   <a href="mailto:valera.pogor@gmail.com">valera.pogor@gmail.com</a><br />
    <strong>VK:</strong> <a href="https://vk.com/crazyslaver">VK</a>
    <strong>FB:</strong> <a href="https://facebook.com/crazyslaver">Facebook</a>
</address>
